<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @creator.first_name %>,</p>
    <p>
      Thanks for checking out my project browzable.com. I want to help video creators earn more for their content, because I believe there's a better way than ads or subscriptions. Would you be open to discussing your business? I want to learn more about what video creators need and see if there is a way we can work together.
    </p>
    <p>
      Here's a link to set up a short call with me: https://calendly.com/browzable/browzable-intro. Or email me at eli@browzable.com.
    </p>
    <br />
    <span>Eli Block</span><br />
    <span>Browzable</span><br />
    <span>eli@browzable.com</span><br />
    <span>907-952-2656</span>
  </body>
</html>