<div class="row movies-row">
  <% @movies.each do |movie| %>
    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 movie-col">
      <div class="movie-card text-center" 
          data-toggle="popover" 
          data-content="<%= popover(movie) %>"
          itemscope 
          itemtype="http://schema.org/Movie">
        <%= link_to movie_path(movie), class: "br-card-img-link" do %>
          <%= cl_image_tag(movie.image, :client_hints=>true, :transformation=>[
          {:aspect_ratio=>"2:3", :gravity=>"auto", :crop=>"fill"},
          {:width=>"auto", :quality=>"auto", :fetch_format=>:auto, :crop=>"scale"}
          ]) %>
          <%#= image_tag(movie.image, size: "185x278", alt: "poster") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-12">
    <%#= paginate @movies %>
  </div>
</div>





<% unless user_signed_in? %>
  <script>
    $(".br-card-img-link").click(function(e) {
      authModal(e);
    });
  </script>
<% end %>

<script>
  document.addEventListener("turbolinks:before-cache", function() {
    $('[data-toggle="popover"]').popover('dispose');
  })
 

  $(document).on('turbolinks:load', function() {
    $('[data-toggle="popover"]').popover({ 
      trigger: 'hover', 
      delay: { "show": 750, "hide": 100 },
      html: true,
      container: 'body'
    });

  });
</script>