<%= render 'list', videos: @videos %>

<div class="row">
  <div class="col-12">
    <%= paginate @videos %>
  </div>
</div>

<% unless user_signed_in? %>
  <script>
    $(".br-card-img-link").click(function(e) {
      authModal(e);
    });
  </script>
<% end %>






  