<% provide(:title, "About") %>
<br>
<div class="row">
  <div class="col-lg-7 col-md-10">
    <h1>About Aboutica</h1>
    <p>Aboutica is a pay per minute video streaming platform. Instead of ads or subscriptions, users prepay for minutes and spend them as they stream video. Anyone can upload their videos to Aboutica and earn 70% of the revenue from their videos.</p>

    <p>Aboutica is being developed by me, Eli Block, in San Francisco. Please send an email to eliyahu.block@gmail.com if you want to discuss the site or have any questions.</p>
  </div>
</div>