<% provide(:title, "DMCA") %>
<br>
<div class="row">
  <div class="col-lg-7 col-md-10">
    <h1>DMCA</h1>
    <p>We respect intellectual property and manually review all submitted content. Please email takedown notices to dmca@browzable.com. Email eli@browzable.com for any questions about how the service manages copyright.</p>
</div>