<%= render 'layouts/nav' %>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Thank you for signing in to Browzable. Refresh the page you came from and you will now be able to watch your video.</p>
    </div>
  </div>
</div>